.button{
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 15 6 6 15;
}

#font-button{
    -fx-pref-width: 320px;
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow(one-pass-box,  black, 8, 0.0, 2,0);

}